<div class="max-w-4xl mx-auto">
  <div class="bg-white rounded-lg shadow-md p-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-6">Nova Filme</h1>

    <%= render 'form', movie: @movie %>
  </div>
